body {
  background-color: #f5f5f5;
  height: 100vh;
}
h1 {
  text-align: center;
}
#firstFather,
#secondFather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

.firstFather_first,
.secondFather_first {
  border: 4px solid white;
  position: relative;
  left: 330px;
  background-color: tomato;
  width: 230px;
  height: 450px;
}

.firstFather_second,
.secondFather_second {
  border: 4px solid white;
  position: relative;
  left: -330px;
  background-color: #008080;
  width: 230px;
  height: 450px;
}

.secondFather_first {
  background-color: #deb887;
}
.secondFather_second {
  background-color: #d7bfd7;
}

.firstFather_first div:first-child,
.firstFather_second div:first-child,
.secondFather_first div:first-child,
.secondFather_second div:first-child {
  background-color: white;
  position: relative;
  top: 20px;
  height: 140px;
}
