body {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
a {
  color: wheat;
  background-color: tomato;
  text-decoration: none;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 55px;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1); /* easeOutCubic */
}

a:hover {
  color: tomato;
  background-color: wheat;
}

img {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  border-radius: 50%;
  animation: coinFlip 5s ease-in-out infinite;
}

@keyframes coinFlip {
  0% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(360deg) translate(100px);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
  }
}
